.container{max-width: 100%;padding: 0px;}
.container-fluid{max-width: 100%;padding:0px;}



/****************************** MENU DROP DOWN *******************/
@-webkit-keyframes lowestbar {
    50% {
      transform: translateY(0px) scaleX(0.1);
    }
    100% {
      transform: translateY(170px) scaleX(0.1) scaleY(60);
    }
  }
  @-moz-keyframes lowestbar {
    50% {
      transform: translateY(0px) scaleX(0.1);
    }
    100% {
      transform: translateY(170px) scaleX(0.1) scaleY(60);
    }
  }
  @keyframes lowestbar {
    50% {
      transform: translateY(0px) scaleX(0.1);
    }
    100% {
      transform: translateY(170px) scaleX(0.1) scaleY(60);
    }
  }
  @-webkit-keyframes lowestbarup {
    0% {
      transform: translateY(170px) scaleX(0.1) scaleY(60);
    }
    50% {
      transform: scaleX(0.1) scaleY(1);
    }
    100% {
      transform: translateY(0px) scaleX(1);
    }
  }
  @-moz-keyframes lowestbarup {
    0% {
      transform: translateY(170px) scaleX(0.1) scaleY(60);
    }
    50% {
      transform: scaleX(0.1) scaleY(1);
    }
    100% {
      transform: translateY(0px) scaleX(1);
    }
  }
  @keyframes lowestbarup {
    0% {
      transform: translateY(170px) scaleX(0.1) scaleY(60);
    }
    50% {
      transform: scaleX(0.1) scaleY(1);
    }
    100% {
      transform: translateY(0px) scaleX(1);
    }
  }
  section#hamburgermenu{    
    position: absolute;
    z-index: 9999;}
  
  .menu {
    background: transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  }
  .menu .bar {
    width: 40px;
    height: 4px;
    border-radius:5px;
    margin: 0 auto;
    background: #fff;
    position: relative;
  }
  .menu .bar:nth-child(1) {
    top: 15px;
    transition: all 1s ease;
  }
  .menu .bar:nth-child(2) {
    top: 24px;
    transition: all 1s ease;
  }
  .menu .bar:nth-child(3) {
    top: 33px;
    -moz-animation-timing-function: ease;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: lowestbarup;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-timing-function: ease;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-name: lowestbarup;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-name: lowestbarup;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
  }
  .menu + ul {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 5px 0px 0px 30px;
  }
  .menu + ul li a{color: #f7f7f7; text-transform: capitalize;cursor:pointer;}
  .menu + ul li {
    padding: 0;
    line-height:normal;
    cursor:pointer;
    margin: 0;
    text-transform: capitalize;
    font-size:20px;
    font-family: "permanent";
    opacity: 0;
    height:auto;
    padding:10px 15px;
    text-align: left;
    color: #f7f7f7;
    transition-property: opacity ,top;
    transition-delay: 0s;
    transition-duration: 1.25s;
    transition-timing-function: ease;
    position: relative;
    top: -20px;
  }
  .menu + ul li a:hover {
    text-decoration: none;
    color: #fff;
  }
  .menu:hover {
    cursor: pointer;
  }
  
  .menu.active .bar:nth-child(1) {
    top: 27px;
    transform: rotate(405deg);
    transform-origin: 50% 50%;
  }
  .menu.active .bar:nth-child(2) {
    transform: rotate(495deg);
  }
  .menu.active .bar:nth-child(3) {
    -moz-animation-timing-function: ease;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: lowestbar;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -moz-animation-timing-function: ease;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-name: lowestbar;
    -moz-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-name: lowestbar;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
  }
  .menu.active + ul li {
    opacity: 1;
    top: 0px;
  }


  
/*********************** ABOUT US ********************/
@font-face {font-family: "OpenSans-Bold";
  src:url("OpenSans-Bold.ttf") format("truetype");
}
@font-face {font-family: "OpenSans-Regular";
  src:url("OpenSans-Regular.ttf") format("truetype");
}

#aboutus{  height: 100%;
  width: 100%;padding:20% 5%;
  background: url("https://www.softechlogix.com/wp-content/uploads/2017/02/fowler-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
#aboutus .aboutoverlay .aboutheading h1{font-family: "OpenSans-Bold";color:rgb(236, 77, 54);font-size:65px;text-transform: uppercase;
}
#aboutus .aboutoverlay .abouttext p{font-family: "OpenSans-Regular";color:#111;font-size: 15px;line-height: 18px;}


.inner {
  height: 100%;
  width: 100%;
  position: absolute;

}

.noselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.outline {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card {
  background-color: transparent;
  width: 800px;
  height: 400px;
  margin: 0 auto;
  -webkit-perspective: 5000px;
          perspective: 5000px;
}
.card:hover .inner {
  -webkit-transform: rotateY(180deg) translateZ(5px);
          transform: rotateY(180deg) translateZ(5px);
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align: center;
}
.inner:after {
  content: "";
  background: inherit;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

.front, .back {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 20px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(0deg) translateZ(0px);
          transform: rotateY(0deg) translateZ(0px);
}

.front {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.front h1 {
  text-align: center;
  position: absolute;
  left: 50%;
  font-family: "oxibold";
  font-size: 70px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.back {
  background-color: rgba(31, 30, 30, 0.7);
  color: white;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.back h1 {
  padding-bottom: 0 !important;
  padding-top: 0.714em !important;
}
.back p {
  padding-top: 0 !important;
  font-family: "oxiregular";
}
.back img {
  top: 10px;
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 100%;
}

@media screen and (max-width: 900px) {
  .inner {
    background-size: 200% 200%;
  }
}


/*********************** HEADER BACKGROUND ANIMATION ********************/
  
.large-header {
    position: relative;
    width: 100%;
    background: #111;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
 }
 
 .demo .large-header {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
 }
 
 .main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #F9F1E9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
 }
 
 .demo .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
 }
 
 .main-title .thin {
    font-weight: 200;
 }
 
 @media only screen and (max-width: 768px) {
    .demo .main-title {
       font-size: 3em;
    }
 }




 /***************** TIMELIME MEET THE TEAM ****************/

#meettheteam{overflow-x: hidden}

@font-face {font-family: "oxiregular";
	src:url("Oxanium-Regular.ttf") format("truetype");
}
@font-face {font-family: "oxibold";
	src:url("Oxanium-Bold.ttf") format("truetype");
}
 .timeline {
   display: flex;
   margin: 0 auto;
   flex-wrap: wrap;
   flex-direction: column;
   max-width: 700px;

   position: relative;
 }
 .timeline__content-title {
   font-weight: normal;
   font-size: 34px;
   margin: 10px 0 0 0;
   transition: .4s;
   padding: 0 10px;
   box-sizing: border-box;
   font-family: "oxiregular";
   color: #fff;
 }
 .timeline__content-desc {
   margin: 0;
   font-size: 15px;
   box-sizing: border-box;
   color: rgba(255, 255, 255, 0.7);
   font-family: "oxiregular";
   font-weight: normal;
   line-height: 25px;
 }
 .timeline:before {
   position: absolute;
   left: 50%;
   width: 2px;
   height: 100%;
   margin-left: -1px;
   content: "";
   background: rgba(255, 255, 255, 0.07);
 }
 @media only screen and (max-width: 767px) {
   .timeline:before {
     left: 40px;
   }
 }
 .timeline-item {
   padding: 40px 0;
   opacity: .3;
   filter: blur(2px);
   transition: .5s;
   box-sizing: border-box;
   width: calc(50% - 40px);
   display: flex;
   position: relative;
   transform: translateY(-80px);
 }
 .timeline-item:before {
   content: attr(data-text);
   letter-spacing: 3px;
   width: 100%;
   position: absolute;
   color: rgba(255, 255, 255, 0.5);
   font-size: 13px;
   font-family: "oxiregular";
   border-left: 2px solid rgba(255, 255, 255, 0.5);
   top: 70%;
   margin-top: -5px;
   padding-left: 15px;
   opacity: 0;
   right: calc(-100% - 56px);
 }
 .timeline-item:nth-child(even) {
   align-self: flex-end;
 }
 .timeline-item:nth-child(even):before {
   right: auto;
   text-align: right;
   left: calc(-100% - 56px);
   padding-left: 0;
   border-left: none;
   border-right: 2px solid rgba(255, 255, 255, 0.5);
   padding-right: 15px;
 }
 .timeline-item--active {
   opacity: 1;
   transform: translateY(0);
   filter: blur(0px);
 }
 .timeline-item--active:before {
   top: 30%;
   transition: .3s all .2s;
   opacity: 1;
 }
 .timeline-item--active .timeline__content-title {
   margin: 0px 0 20px 0;
 }
 @media only screen and (max-width: 767px) {
   .timeline-item {
     align-self: baseline !important;
     width: 100%;
     padding: 0 30px 150px 80px;
   }
   .timeline-item:before {
     left: 10px !important;
     padding: 0 !important;
     top: 50px;
     text-align: center !important;
     width: 60px;
     border: none !important;
   }
   .timeline-item:last-child {
     padding-bottom: 40px;
   }
 }
 .timeline__img {
   max-width: 100%;
   box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
 }
 .timeline-container {
   width: 100%;
   position: relative;
   padding: 80px 0;
   transition: .3s ease 0s;
   background-attachment: fixed;
   background-size: cover;
 }
 .timeline-container:before {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(99, 99, 99, 0.8);
   content: "";
 }
 .timeline-header {
   width: 100%;
   text-align: center;
   margin-bottom: 80px;
   position: relative;
 }
 .timeline-header__title {
   color: #fff;
   font-size: 46px;
   font-family: "oxibold";
   font-weight: normal;
   margin: 0;
 }
 .timeline-header__subtitle {
   color: rgba(255, 255, 255, 0.5);
   font-family: "oxiregular";
   font-size: 16px;
   letter-spacing: 5px;
   margin: 10px 0 0 0;
   font-weight: normal;
 }
 
 /**************** LOGO ****************/
 @font-face {font-family: "permanent";
	src:url("PermanentMarker.ttf") format("truetype");
}
 #container {
  left: 50%;
  font-family: "permanent";
  top: 50%;
  color:white;
  position: absolute;
  transform: translate(-50%, -50%);
}




/*************** PORTFOLIO **************/
#portfolio{overflow-x: hidden;}
#portfolio p{   font-family: "oxiregular";font-weight: normal!important;}
.grid img,
a {
  display: block;
  height: 100%;
}

.grid img {
  max-width: 100%;
  width: 100%;
opacity: .6;
  object-fit: cover;
}
.grid {
  display: grid;
  grid-gap: 0;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.grid li {
  position: relative;
}
.grid li:hover ~ li:last-child:after,
.grid li:last-child:hover:after,
.grid li:hover ~ li:last-child:before,
.grid li:last-child:hover:before {
  opacity: 1;
  transition: 1s ease;
}
.grid li:last-child:after,
.grid li:last-child:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
  clip-path: polygon(var(--offset) var(--offset), var(--offset) calc(100% - var(--offset)), calc(100% - var(--offset)) calc(100% - var(--offset)), calc(100% - var(--offset)) var(--offset));
  -webkit-clip-path: polygon(var(--offset) var(--offset), var(--offset) calc(100% - var(--offset)), calc(100% - var(--offset)) calc(100% - var(--offset)), calc(100% - var(--offset)) var(--offset));
  opacity: 0;
  transition: opacity 1s, transform 1s 1s, background 1s;
}
.grid li:last-child:after {
  mix-blend-mode: multiply;
  background: #aaafc3;
}
.grid li:last-child:before {
  backdrop-filter: grayscale(100%) blur(2px);
  -webkit-backdrop-filter: grayscale(100%) blur(2px);
}
.grid li:nth-child(1):hover ~ li:last-child:after {
  background: #1A237E;
}
.grid li:nth-child(2):hover ~ li:last-child:after {
  background: #b5a1b7;
}
.grid li:nth-child(3):hover ~ li:last-child:after {
  background: #aaafc3;
}
.grid li:nth-child(4):hover ~ li:last-child:after {
  background: #daa384;
}
.grid li:nth-child(5):hover ~ li:last-child:after {
  background: #A5D6A7;
}
.grid li:nth-child(6):hover ~ li:last-child:after {
  background: #6c4331;
}
.grid li:nth-child(7):hover ~ li:last-child:after {
  background: #555;
}
.grid li:last-child:hover:after {
  background: #a88504;
}

.grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 33.3333333333%);
}
.grid li:last-child:after,
.grid li:last-child:before {
  left: 100%;
  transform: translate3d(-100%, -100%, 0);
}
.grid li:nth-child(1):hover ~ li:last-child:after,
.grid li:nth-child(1):hover ~ li:last-child:before {
  transform: translate3d(-200%, -200%, 0);
}
.grid li:nth-child(2):hover ~ li:last-child:after,
.grid li:nth-child(2):hover ~ li:last-child:before {
  transform: translate3d(-100%, -200%, 0);
}
.grid li:nth-child(3):hover ~ li:last-child:after,
.grid li:nth-child(3):hover ~ li:last-child:before {
  transform: translate3d(0%, -200%, 0);
}
.grid li:nth-child(4):hover ~ li:last-child:after,
.grid li:nth-child(4):hover ~ li:last-child:before {
  transform: translate3d(-200%, -100%, 0);
}
.grid li:nth-child(5):hover ~ li:last-child:after,
.grid li:nth-child(5):hover ~ li:last-child:before {
  transform: translate3d(-100%, -100%, 0);
}
.grid li:nth-child(6):hover ~ li:last-child:after,
.grid li:nth-child(6):hover ~ li:last-child:before {
  transform: translate3d(0%, -100%, 0);
}
.grid li:nth-child(7):hover ~ li:last-child:after,
.grid li:nth-child(7):hover ~ li:last-child:before {
  transform: translate3d(-200%, 0%, 0);
}
.grid li:last-child:hover:after,
.grid li:last-child:hover:before {
  transform: translate3d(-100%, 0%, 0);
}

@media (max-width: 60em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 25%);
  }
  .grid li:last-child:after,
  .grid li:last-child:before {
    left: 0%;
    transform: translate3d(-50%, -150%, 0);
  }
  .grid li:nth-child(1):hover ~ li:last-child:after,
  .grid li:nth-child(1):hover ~ li:last-child:before {
    transform: translate3d(-100%, -300%, 0);
  }
  .grid li:nth-child(2):hover ~ li:last-child:after,
  .grid li:nth-child(2):hover ~ li:last-child:before {
    transform: translate3d(0%, -300%, 0);
  }
  .grid li:nth-child(3):hover ~ li:last-child:after,
  .grid li:nth-child(3):hover ~ li:last-child:before {
    transform: translate3d(-100%, -200%, 0);
  }
  .grid li:nth-child(4):hover ~ li:last-child:after,
  .grid li:nth-child(4):hover ~ li:last-child:before {
    transform: translate3d(0%, -200%, 0);
  }
  .grid li:nth-child(5):hover ~ li:last-child:after,
  .grid li:nth-child(5):hover ~ li:last-child:before {
    transform: translate3d(-100%, -100%, 0);
  }
  .grid li:nth-child(6):hover ~ li:last-child:after,
  .grid li:nth-child(6):hover ~ li:last-child:before {
    transform: translate3d(0%, -100%, 0);
  }
  .grid li:nth-child(7):hover ~ li:last-child:after,
  .grid li:nth-child(7):hover ~ li:last-child:before {
    transform: translate3d(-100%, 0%, 0);
  }
  .grid li:last-child:hover:after,
  .grid li:last-child:hover:before {
    transform: translate3d(0%, 0%, 0);
  }

  :root {
    --offset: 0;
  }
}
.description {
  font-family: 'oxiregular';
  font-size: 1.25rem;
  position: absolute;
  display: block;
  right: 0rem;
  left: 0rem;
  text-align: center;
  top: 50%;
  font-size: 30px;
 
  width: auto;
  margin: auto;
  color:#000;
  z-index: 100;
  opacity: .9;
  transform: translate3d(0, -50%, 0);
  transition: .3s 0s;
}

li:hover .description {
  opacity: 1;
  transition: .6s .3s;
  color:#fff;
}
li:hover img{opacity:1;transition: .3s .2s;}



/***************** CONTACT *********************/
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css);
::selection {
  color: #fff;
  background: #2a2b39;
}

::-moz-selection {
  color: #fff;
  background: #2a2b39;
}

.bgtint {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(42, 43, 57, 0.7);
}
#contactus
{
  background: url(https://unsplash.imgix.net/uploads/141310026617203b5980d/c86b8baa?q=75&fm=jpg&s=be8d1e8254844f53e56583bd49cf5e77);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin: 0;
  
  width: 100%;
  height: 400px;
  overflow: hidden;
  z-index: 9;
  padding:20px 0;
}


.bussinesscard a {
  color: #2a2b39;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.bussinesscard a:hover {
  color: #f34601;
}
.bussinesscard {
  height: 320px;
  width: 428px;
  overflow: visible;
  box-shadow: 0px 0px 43px -10px black;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: 0 auto;
  display: block;
  top: 5%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* -webkit-transform: translate(-50%, -50%); */
  transform: translateY(5%);
}
.bussinesscard .flip {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.bussinesscard .front {
  z-index: 11;
  width: 100%;
  position: absolute;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 33px -1px rgba(0, 0, 0, 0.45);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.bussinesscard .front .top {
  height: 50%;
  background: #2a2b39;
}
.bussinesscard .front .top:after {
  position: absolute;
  content: '';
  pointer-events: none;
}
.bussinesscard .front .top:after {
  left: 50%;
  width: 2em;
  height: 2em;
  -moz-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  bottom: 9em;
  z-index: 10;
  background: inherit;
}
.bussinesscard .front .top .logo {
  background:rgb(236, 77, 54);
  color: #fff;
  z-index: 11;
  padding: .16em;
  border: 8px solid #fff;
  position: relative;
  pointer-events: none;
 
  width:130px;font-family: 'oxibold';
  
  margin:1rem auto;
  display:block;
  font-size: 4em;
}
.bussinesscard .front .top .logo .fat {
  font-weight: 800;

}
.bussinesscard .front .top .logo .skinny {
  font-weight: 100;
}
.bussinesscard .front .nametroduction {
  margin-top: 2.4em;
  -moz-transform: translateY(0);
  font-family: 'oxibold';
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  z-index: 8;
}
.bussinesscard .front .name {
  color: #2a2b39;
  font-weight: 400;
  font-size: 3.2em;
  text-align: center;
  position: relative;
  margin-bottom: .35em;
}
.bussinesscard .front .name:after {
  content: '';
  position: absolute;
  top: 1.3em;
  width: 20%;
  left: 40%;
  right: 40%;
  height: 1px;
  background: #2a2b39;
}
.bussinesscard .front .introduction {
  text-align: center;
  color: #2a2b39;
  font-family: 'oxiregular';
  font-style: italic;
}
.bussinesscard .front .contact {
  color: #2a2b39;
  margin-left: 0em;
  font-weight: 300;
  font-size: 20px;
  -moz-transform: translateY(400%);
  -ms-transform: translateY(400%);
  -webkit-transform: translateY(400%);
  transform: translateY(400%);
}
.bussinesscard .front .contact span {
  color: #2D3244;
  font-size:20px;
  width:auto;
  font-family: 'oxiregular';
  display: inline-block;
}
.bussinesscard .front .contact a {
  position: relative;
  bottom: .24em;
  font-family: 'oxiregular';
}
.bussinesscard .back {
  width: 100%;
  height: 100%;
  background: #fff;
  backface-visibility: hidden;
  position: absolute;
}

.tooltip {
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: #fff;
  font-weight: 300;
  padding: .4em;
  background: #6acd79;
}

/* HOVER ANIMATIONS */
.front .top .logo, .front .top, .front .top:after, .front .nametroduction, .front .contact {
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.flip:hover .front .top .logo {
  margin-top: .28em;
  font-size: 1.3em;
  border: 3px solid #fff;
  margin-left: .15em;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  left: 0;
}

.flip:hover .front .top {
  height: 15%;
}
.flip:hover .front .top:after {
  width: 1.5em;
  height: 1.5em;
  bottom: 16.3em;
}

.flip:hover .front .nametroduction {
  -moz-transform: translateY(400%);
  -ms-transform: translateY(400%);
  -webkit-transform: translateY(400%);
  transform: translateY(400%);
}

.flip:hover .front .contact {
  -moz-transform: translateY(-70%);
  -ms-transform: translateY(-70%);
  -webkit-transform: translateY(-70%);
  transform: translateY(-70%);
}




/********* WORK SAMPLES **************/
#samples{overflow-x: hidden;margin:5% auto;}
#samples p.display-3{font-family: "oxibold";display: block;margin: 0 auto;}

#samples .container .row .col-12{display: flex;}
.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #333;
 
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all .3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto 30px;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: .3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  
 
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
  border-radius: 20px;
  opacity: 0;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all .3s;
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all .4s;
}
.blog-slider__code {
  color: #fff;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}
.blog-slider__text {
  color: #fff;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  height: auto;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #fff;
  opacity: 0.2;
  transition: all .3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fd3838;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}



@media(max-width:991px)
{
  #aboutus{padding: 30% 5%;}
}
@media(max-width:768px)
{
  .front h1 {font-size:45px;}
  #samples p.display-3{font-size: 42px!important;}
  #aboutus {
    padding: 10% 5%;}
  #aboutus .outline {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform:unset;
    transform: unset;
    right: 0;}
    .card {
      background-color: transparent;
      width:100%;
      height: 500px;
      margin: 0 auto;
      -webkit-perspective: 5000px;
      perspective: 5000px;
  }
}
@media(max-width:575px)
{
  #samples p.display-3{font-size: 36px!important;}
  .back p{font-size: 13px;}
  .front h1{font-size:30px;}
}


/* #Progress
================================================== */
#button {
  display: inline-block;
  background-color: rgb(236, 77, 54);;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

}
#button::after {
  content: "Up";
  text-transform:uppercase;
  font-family: 'oxibold';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
